services:
  - type: web
    name: render-clone
    env: node
    plan: free
    buildCommand: npm run build
    startCommand: node server.js
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: NODE_ENV
        value: production
      - key: NODE_ENV
        value: production